[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
easyocr = "*"
pywinstyles = "*"
opencv-contrib-python = "*"
customtkinter = "*"
pillow = "*"
ctkmessagebox = "*"
pywinauto = "*"

[dev-packages]
ipykernel = "*"
